# Ignorar archivos compilados
*.class

# Ignorar carpetas de compilación
/bin
/out

# Ignorar archivos de configuración de Vs code
.vscode/

# Ignorar archivos de configuración de IntelliJ IDEA
.idea/
*.iml

