.table-view {
    -fx-background-color: #1D1F4E;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #1D1F4E;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 40px;
    -fx-border-color: transparent;
    -fx-background-color: #1D1F4E;
    -fx-text-fill: white;
}

.table-view .label {
    -fx-text-fill: white;
}

.table-view .table-row-cell {
    -fx-background-color: #1D1F4E;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #2a2c6a;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #383b8d;
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}
.table-view .scroll-bar .track {
    -fx-background-color: #1B1A55;
    -fx-background-radius: 10;
}
.table-view .scroll-bar .thumb {
    -fx-background-color: #9190C2;
    -fx-background-radius: 10;
}

.table-view .table-cell .titulo-label {
    -fx-font-weight: bold;
}