.table-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: #1B1A55;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #1B1A55;
    -fx-background-radius: 12 12 0 0;
    -fx-border-radius: 12 12 0 0;
    -fx-padding: 0;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-view .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view .table-cell:filled {
    -fx-alignment: CENTER-LEFT;
}
.table-view .table-column#colGenero {
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-background-color: #1B1A55;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.table-cell {
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: #2C2B75;
}
.table-row-cell:filled:selected {
    -fx-background-color: #3C3B90;
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}
.table-view .scroll-bar .track {
    -fx-background-color: #1B1A55;
    -fx-background-radius: 10;
}
.table-view .scroll-bar .thumb {
    -fx-background-color: #9190C2;
    -fx-background-radius: 10;
}
/* Estilo principal del ComboBox */
.combo-box {
    -fx-background-color: #575a81;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-font-weight: System;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.combo-box > .text-field {
    -fx-background-color: #575a81;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: System;
    -fx-font-size: 20px;
}
.combo-box .list-cell {
    -fx-background-color: #575a81;
    -fx-text-fill: white;
}
.combo-box .list-cell:hover {
    -fx-background-color: #575a81;
}
.combo-box .list-cell:filled:selected {
    -fx-background-color: #575a81;
}
.combo-box .arrow-button {
    -fx-background-color: #575a81;
    -fx-background-radius: 0 20 20 0;
}
.combo-box .arrow {
    -fx-background-color: white;
}
.menu-item {
    -fx-background-color: #575a81;
}

.menu-item:focused {
    -fx-background-color: #6C63FF;
}

.menu-item .label {
    -fx-text-fill: white;
}
.check-menu-item {
    -fx-background-color: #575a81;
    -fx-text-fill: white;
}
.check-menu-item:checked {
    -fx-background-color: #6C63FF;
}
.check-menu-item .check {
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-padding: 0;
}
.check-menu-item:checked .check {
    -fx-background-color: white;
    -fx-shape: "M 0 -1 L 4 -1 L 6 1 L 12 -5 L 14 -3 L 6 5 L 0 -1";
    -fx-scale-shape: false;
    -fx-padding: 0.166667em 0.166667em 0.166667em 0.25em;
}
