.table-view {
    -fx-background-color: #1D1F4E;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #1D1F4E;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 40px;
    -fx-border-color: transparent;
    -fx-background-color: #1D1F4E;
    -fx-text-fill: white;
}

.table-view .label {
    -fx-text-fill: white;
}

.table-view .table-row-cell {
    -fx-background-color: #1D1F4E;
}

/* Color del texto de las celdas */
.table-view .table-cell {
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #2a2c6a; /* Un poco más claro */
}

.table-view .table-row-cell:selected {
    -fx-background-color: #383b8d;
}